div{
    margin: 1em 0;

}

.bt{

    background-color: dodgerblue;
    
    border-radius: 5px;
    border: none; 
    color:#fff;
    padding: 0.8em 3em;
    cursor: pointer;
    box-shadow: 1px 1px 5px dodgerblue;
    transition: box-shadow 0.2s;
 
}



.bt:hover{
    box-shadow: 3px 3px 10px royalblue;
    transform: scale(1.05,1.05);
    background-color: RoyalBlue;

}

.table {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* gap:0.5em; */
    border: 1px solid rgb(37, 37, 37);
    
}

#subnet{

    display: grid;
    grid-template-columns:repeat(3, 20vw); ;
}

.two-col{

    display: grid;
    grid-template-columns:repeat(2, 30vw); ;
}

.cell{

    padding: 1em;
    border: 1px solid grey;
    margin:0;
}

.cell.head{

    background-color: #444;
    color:#fff
}
input#rows{

    padding: 0.5em 2em;
}


.delete_bt{

    background-color: DodgerBlue; 
    border-top: white;
    color: white; 
    padding: 0.5em 1em; 
    font-size: 1em;
    cursor: pointer; 

}

.delete_bt:hover {
    background-color: RoyalBlue;
  }

  .error-msg{
    width:50%;
    padding: 1em;
    color:#D8000C;
    background-color: #FFBABA;

  }

/* For small devices (up to 600px) */
@media (max-width: 600px) {
    /* Adjust styles here */
  }
  
  /* For medium devices (601px to 992px) */
@media (min-width: 601px) and (max-width: 992px) {
    /* Adjust styles here */
  }
  
  /* For large devices (993px and above) */
@media (min-width: 993px) {
    /* Adjust styles here */
  }
  