<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        <script src="{{ url_for('static', filename='js.js') }}"></script> 
    </head>
    <body>
        <div class="q_container">
            <div class="q_title">
                <div class="q_num">Question 5 of 10</div>
                <div class="question">What is the correct subnet mask?</div>
            </div>
            <div class="answers">
                <div class="option">127.0.0.1</div>
                <div class="option">192.0.0.1</div>
                <div class="option">255.255.0.0</div>
                <div class="option">255.255.0.0</div>
            </div>

        </div>
        <div class="result"></div>
    </body>
</html>

